body {
	background: #a0a1a2;
}

.container {
  margin-top: 50px;

}
.calculator {
	background: #a0a1a2;
	border-radius: 10px;
	background: #a0a1a2;
  box-shadow: 20px 20px 60px #88898a, -20px -20px 60px #b8b9ba;
  margin: 0px 0px auto 0 ;
}

.calculator_body {
  padding: 20px;
  background-color: rgb(179, 179, 179);
}

.button {
	width: 50px;
	height: 50px;
	border-radius: 32px;
	background: #a0a1a2;
	box-shadow: 21px 21px 41px #929393, -21px -21px 41px #aeafb1;
	padding: 10px;
}

.display-calculation {
	width: 200px;
	color: white;
	background-color: black;
	border-radius: 10px;
	padding: 20px;
}

.text_content {
	font-size: large;
}

.display-results {
	margin-top: 2px;
	width: 200px;
	color: white;
	background-color: rgb(101, 101, 101);
	border-radius: 10px;
	padding: 20px;
}
